ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.body-text-t-l {
  font-weight: 400; /* Regular */
  font-size: 20px; /* 文字大小 */
  line-height: 150%; /* 行高 */
}

.body-text-t-m {
  font-weight: 400; /* Regular */
  font-size: 16px; /* 文字大小 */
  line-height: 150%; /* 行高 */
}

.body-text-t-s {
  font-weight: 400; /* Regular */
  font-size: 14px; /* 文字大小 */
  line-height: 150%; /* 行高 */
}

.body-text-t-xs {
  font-weight: 400; /* Regular */
  font-size: 12px; /* 文字大小 */
  line-height: 150%; /* 行高 */
}
