//主要按鈕//
.btn-pr {
  background-color: $primary-90;
  color: $white;
  border-radius: 24px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $secondary-20;
    color: $primary-90;
  }
  &:disabled {
    background-color: $gray-20;
    color: $gray-30;
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.tab {
  display: inline-flex; // 讓內容水平 & 垂直置中
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 12px 40px;
  border-radius: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.tab[data-state="unselected"] {
  background-color: transparent;
  border: 1px solid $primary-70;
  color: $primary-70;
}
.tab[data-state="unselected"]:hover {
  border: 1px solid $primary-70;
  color: $white;
  background-color: rgba($primary-90, 0.5);
}
.tab-selected {
  background-color: $primary-70;
  border: none;
  color: $white;
}

.categories-menu {
  display: flex;
  justify-content: space-between; /* 撐滿整行 */
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.categories-menu li {
  flex: 1; /* 每一個平均分 */
  padding: 12px 0;
  cursor: pointer;
  position: relative;

  color: $gray-30;
  &:hover {
    border-bottom: 1px solid $gray-30; /* 底線 */
    color: $gray-50;
  }
  &:active {
    border-bottom: 1px solid $primary-70; /* active 底線顏色 */
    color: $primary-70;
  }
}

.categories-menu li .arrow {
  opacity: 0;
  margin-left: 5px;
}
/* 滑過時顯示箭頭 */
.categories-menu li:hover .arrow {
  opacity: 1;
}


.icon-pr {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $primary-10;
  cursor: pointer;
  img {
    width: 24px; // icon 尺寸
    height: 24px;
  }
  &:hover {
    background-color: $secondary-10; // 滑過底色
  }
  &:active {
    background-color: $secondary-10;
  }
}
