//主要按鈕//
.btn-pr {
  background-color: $primary-90;
  color: $white;
  border-radius: 24px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $secondary-20;
    color: $primary-90;
  }
  &:disabled {
    background-color: $gray-20;
    color: $gray-30;
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.icon-pr {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $primary-10;
  cursor: pointer;
  img {
    width: 24px; // icon 尺寸
    height: 24px;
  }
  &:hover {
    background-color: $secondary-10; // 滑過底色
  }
  &:active {
    background-color: $secondary-10;
  }
}

