.checkout-card {
  background-color: white;
  border-radius: 48px;
  padding: 48px 48px;
}

@media (max-width: 768px) {
  .checkout-card {
    border-radius: 16px;
    padding: 32px 16px;
  }
}

.label-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $gray-20;
  border-radius: 24px;
  padding: 24px 32px;

  transition: background-color 0.2s ease;
}

@media (max-width: 768px) {
  .label-btn {
    border-radius: 8px;
    padding: 12px 12px;
  }
}

.label-btn.btn:hover,
.label-btn.btn:active {
  border: 1px solid rgba(183, 193, 234, 0.75)  !important; // primary-30 75% 以接近設計稿實際樣式
  background-color: rgba(183, 193, 234, 0.15);
}


.edit-btn {
  position: absolute;
  z-index: 99;
  top: 47%;
  right: 32px;
  transform: translateY(-50%);
  pointer-events: auto;

  background: none;
  color: $gray-30;
  border: 0;
  padding: 0;
  cursor: pointer;

  svg {
    width: 48px;
    height: 48px;
    stroke: currentColor;
  }
  svg path {
    transition: transform 0.5 ease;
  }
  &:hover svg path {
    stroke: $primary-50;
    transform: scale(1.1);
  }
  &:active svg path {
    stroke: $primary-70;
    transform: scale(1.15);
  }
}
@media (max-width: 768px) {
  .edit-btn {
    right: 12px;
  }
}

.order-data-block {
  // 用「水平重複漸層」畫虛線（調整虛線線條長度）
  background-image: repeating-linear-gradient(
    to right,
    $gray-20 0 4px,
    transparent 4px 8px
  );
  background-position: 0 100%;
  background-size: 100% 1px;
  background-repeat: no-repeat;

  margin-top: 40px;
  padding-bottom: 24px;
}

@media (max-width: 768px) {
  .order-data-block {
    background-image: none;
    margin-top: 24px;
    padding-bottom: 0px;
  }
}

.add-option {
  // btn btn-link text-start
  text-align: left;
  background: none;
  color: $gray-50;
  border: 0;
  padding: 12px 16px;
  cursor: pointer;
  transition: transform 0.3 ease;

  &:hover {
    color: $primary-50;
    transform: scale(1.01);
  }
  &:active {
    color: $primary-70 !important;
  }
}

.input-gray-20 {
  color: $gray-20;
  height: 48px;
  border: 1px solid $gray-20;
  border-radius: 8px;

  &::placeholder {
    color: $gray-20;
  }
}
