.footer-wrapper {
  background-color: transparent; /* 容器透明，背景在盒子內 */
  overflow: hidden;
  position: relative;
}

.footer-box-dark {
  background-color: $primary-90;
  border-top-right-radius: 2.5rem;
  position: relative;
  z-index: 2;
}
.footer-box-dark::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0; /* 從右邊延伸 */
  width: 100vw; /* 滿版 */
  height: 100%;
  background-color: $primary-90;
  border-top-right-radius: 2.5rem;
  z-index: -1;
}
/* 4. 右側淺色位移 */
.footer-box-light {
  background-color: $primary-10;
  border-top-left-radius: 2.5rem;
  position: relative;
}
.overlap-col {
  margin-top: -168px; /*  手機不要重疊 */
  margin-right: -16px;
  position: relative;
  z-index: 10;
}
@media (min-width: 992px) {
  .overlap-col {
    margin-left: -8.333333%; /* 桌機往左疊 */
  }
}

.footer-box-light::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0; /* 從左邊延伸 */
  width: 100vw; /* 滿版 */
  height: 100%;
  background-color: $primary-10;
  z-index: -1;
  border-top-left-radius: 2.5rem;
}
.footer-logo {
  max-width: 156px;
} /*這邊還要加上縮小...*/

.newsletter-form {
  display: flex;
  gap: 16px;
  .form-control {
    flex: 1;
    border-radius: 24px;
    padding: 12px 20px;
    background-color: $white;
    font-size: 16px;
    border: 2px solid $white; // default 邊框

    &::placeholder {
      color: $gray-30;
    }

    &:hover {
      border-color: $primary-30; // hover 邊框變色
    }

    &:focus {
      outline: none;
      border-color: $primary-30; // focus 主色
    }

    &:not(:placeholder-shown) {
      color: $gray-90; // 輸入後文字變深
    }

    &.is-invalid {
      border-color: #ee8b8b; // 錯誤邊框
    }
  }

  .btn-pr {
    flex-shrink: 0;
  }
}

.links {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.footer-link {
  color: $white;
  text-decoration: none;
  font-size: 14px;
  width: 50%; /* 小尺寸：一行兩個 */
}

@media (min-width: 768px) {
  .footer-link {
    width: 20%; /* md 以上：一行五個 */
  }
}
