.newsletter-form {
  gap: 16px;
  .form-control {
    flex: 1;
    border-radius: 24px;
    padding: 12px 20px;
    background-color: $white;
    font-size: 16px;
    border: 2px solid $white; // default 邊框

    &::placeholder {
      color: $gray-30;
    }

    &:hover {
      border-color: $primary-30; // hover 邊框變色
    }

    &:focus {
      outline: none;
      border-color: $primary-30; // focus 主色
    }

    &:not(:placeholder-shown) {
      color: $gray-95; // 輸入後文字變深
    }

    &.is-invalid {
      border-color: #ee8b8b; // 錯誤邊框
    }
  }

  .btn-pr {
    flex-shrink: 0;
  }
}
.rounded-top-end {
  border-top-right-radius: 40px;
}
.rounded-top-start {
  border-top-left-radius: 40px;
}
.footer-right-box {
  background-color: $primary-90;
}

@include media-breakpoint-up(lg) {
  .footer-logo {
    width: 104px;
    max-width: 104px;
  }
  .footer-right-box {
    background-color: unset;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .footer-left-box::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: calc(-1 * (100vw - 100%));
    width: calc(1px + (100vw - 100%));
    background-color: $primary-90;
    z-index: -1;
  }
  .footer-right-box::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    right: calc(-1 * (100vw - 100%));
    width: calc(1px + (100vw - 100%));
    background-color: $primary-10;
    z-index: -1;
  }
}
