.nav-icon {
  display: block;
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: 24px;
}

/* 漢堡選單容器 */
.hamburger-icon {
  padding: 6px 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* 每一條槓的通用樣式 */
.line {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #333366;
  /* 上下兩條的深藍色 */
  border-radius: 10px;
  /* 讓邊緣圓圓的 */
  transition: all 0.3s ease;
  &.middle {
    /* 中間那一條顏色不同 */
    background-color: #ffcc00;
    margin: 3px 0;
  }
}

.navbar-toggler {
  box-shadow: 0 0 8px #5c57ab40 !important;
}

// 手機板logo圖片
.logo-img {
  transition: max-height 0.5s ease;
  &.logo-small {
    max-height: 56px; /* 縮小 */
  }
}

.logo-box {
  display: block;
  padding: 4px 8px 12px 8px;
  background-color: transparent;
  border-radius: 40px;
  transition:
    transform 0.5s ease,
    background-color 0.3s ease 0s;
  &.logo-box-bg {
    background-color: white;
    margin: 12px 0;
    transition:
      transform 0.5s ease,
      background-color 0.3s ease 0.5s;
  }
}

// 電腦版logo圖片
.logo-lg-img {
  margin: 16px 18px 24px 18px;
  transform: scale(2);
  transform-origin: top left;
  transition: transform 0.5s ease;
  &.logo-small {
    width: 80px;
    height: 112px;
    transform: scale(1);
    margin: 0px;
    transition: transform 0.5s ease;
  }
}

/* 輸入框樣式 */
.search-input {
  flex: 1 1 auto; /* 允許縮小 */
  min-width: 0; /* 避免被 flex 容器限制 */
  background: transparent; /* 去除預設背景 */
  border: none; /* 去除預設邊框 */
  outline: none; /* 去除點擊時的外框 */
  color: $white; /* 字體顏色 */
  font-size: 18px;
  padding-left: 5px;
  border-bottom: 1px solid white;
}

/* 讓 Placeholder (提示字) 也呈現白色半透明 */
.search-input::placeholder {
  color: $gray-30;
}

.icon-wrapper {
  flex: 0 0 auto; /* 固定大小，不讓它擠壓 input */
}
.py-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.rounded-start-bottom {
  border-bottom-left-radius: 40px;
}
.right-box {
  position: relative;
  width: 80%;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: calc(-1 * (100vw - 100%));
    width: calc(100vw - 100%);
    height: 100%;
    background-color: inherit;
  }
}
